:root {
  --grid-background-size: 0.3px;
}

.bg-grid-pattern {
  background-image: linear-gradient(
      rgba(255, 0, 0, 0.5) var(--grid-background-size),
      transparent var(--grid-background-size)
    ),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.5) var(--grid-background-size),
      transparent var(--grid-background-size)
    );
  background-size: 8px 8px;
  pointer-events: none;
}
